* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: black;
    color: whitesmoke;
    min-width: 425px;
}

.response-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.meal-item {
    width: 40%;
    margin: 4%;
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
}

.recipe-form {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.recipe-link {
    background-color: lightskyblue;
    color: black;
    font-size: 1.5rem;
    font-weight: bold; 
    border: 2px solid deepskyblue;
    border-radius: 0.5rem;
    text-decoration: none;
    align-self: baseline;
    margin: 0.75rem;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .meal-item {
        width: 80%;
    }
}
